:root {
  --link-color: var(--violet);
  --code-padding-y: 0;
  --code-padding-x: 0;
  --code-font-size: 1rem;
  --tooltip-min-width: 10rem;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 0.75rem;
    --font-size: 1.5rem;
    --column-gutter: 2rem;
  }
}
